<div class="container">
    <div class="row" style="width:100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding:20px;">
                <h3>Cambiar Password</h3>
                <br>
                <form [formGroup]="form" (ngSubmit)="cambiarPassword()">
                    <div class="form-group" style="text-align:start;">

                        <input type="password" 
                               class="form-control" 
                               placeholder="Contraseña anterior"
                               formControlName="oldPassword">
                        <span class="text-danger ml-2" *ngIf="form.invalid">
                            {{getError('oldPassword')}}
                        </span>
                    </div>

                    <div class="form-group" style="text-align:start;">
                        <input type="password" 
                               class="form-control" 
                               placeholder="Nueva contraseña"
                               formControlName="newPassword">
                            <span class="text-danger ml-2" *ngIf="form.invalid">
                                {{getError('newPassword')}}
                            </span>

                    </div>

                    <div class="form-group" style="text-align:start;">
                        <input type="password" 
                               class="form-control" 
                               placeholder="Repetir contraseña"
                               formControlName="confirmPassword">
                            <span class="text-danger ml-2" *ngIf="form.invalid">
                                {{getError('confirmPassword')}}
                            </span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary mr-2 btn-acept" type="submit" [disabled]="form.invalid">Aceptar</button>
                        <button class="btn btn-secondary" routerLink="../">Volver</button>
                    </div>
                  
                </form>
            </div>
        </div>
    </div>
</div>
